.row {
    text-align: center;
    padding-top: 20px;
}

.container
{
    padding-top: 30px;
}

.card
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#col-1
{
    background-color: rgba(127, 255, 212, 0.361);
    min-height: 80vh;
}

#col-2 {
    background-color:rgba(137, 43, 226, 0.187);
    min-height: 80vh;
}

#col-3 {
    background-color: rgba(255, 0, 0, 0.185);
    min-height: 80vh;
}

#col-4 {
    background-color: rgba(236, 236, 61, 0.162);
    min-height: 80vh;
}

#col-5 {
    background-color: rgba(255, 192, 203, 0.432);
    min-height: 80vh;
}

#col-6 {
    background-color: rgba(132, 228, 228, 0.24);
    min-height: 80vh;
}