{% extends "new_base.html" %}

{% block css%}<link rel="stylesheet" type="text/css" href="./../../../static/css/cadastro.css">{% endblock css%}

{%block content%}

    <form class="row g-3">
        <div class="col-md-6">
            <label for="nomeCliente" class="form-label">Nome do cliente</label>
            <input type="text" class="form-control" id="nomeCliente">
        </div>
        <div class="col-md-6">
            <label for="nomeVendedor" class="form-label">Vendedor responsável</label>
            <select id="nomeVendedor" class="form-select">
                <option selected>Escolha...</option>
                <option>Bernardo</option>
                <option>Daniele</option>
                <option>Gabriel</option>
                <option>Henrique</option>
                <option>Luisa</option>
                <option>Pedro</option>
            </select>
        </div>
        <div class="col-12">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" rows="3" placeholder="Coloque aqui os detalhes sobre o projeto."></textarea>
        </div>
        <div class="col-12">
            <label for="areaAtuacao" class="form-label">Área de atuação</label>
            <input type="text" class="form-control" id="areaAtuacao" placeholder="Imobiliária, Indústria automobilística, Comércio de alimentos, ...">
        </div>
        <div class="col-md-6">
            <label for="nomeEmpresa" class="form-label">Nome da empresa</label>
            <input type="text" class="form-control" id="nomeEmpresa">
        </div>
        <div class="col-md-4">
            <label for="statusCliente" class="form-label">Status do cliente</label>
            <select id="statusCliente" class="form-select">
                <option selected>Escolha uma opção...</option>
                <option>Primeiro contato</option>
                <option>Diagnóstico</option>
                <option>Análise</option>
                <option>Proposta</option>
                <option>Negociação</option>
                <option>Contrato</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="telefone">
        </div>
        <div class="d-grid gap-2">
            <a type="submit" class="btn btn-outline-success btn-lg" href="home.html">Cadastrar cliente</a>
        </div>
    </form>

{%endblock content%}

