{% extends "new_base.html" %}

{% block css%}<link rel="stylesheet" type="text/css" href="./../../../static/css/editar.css">{% endblock css%}


{%block content%}
    <form class="row g-3">
        <div class="col-md-6">
            <label for="nomeCliente" class="form-label">Nome do cliente</label>
            <input type="text" class="form-control" id="nomeCliente" placeholder="Ana Cristina Stancioli Silva">
        </div>
        <div class="col-md-6">
            <label for="nomeVendedor" class="form-label">Vendedor responsável</label>
            <input type="text" class="form-control" id="nomeVendedor" placeholder="Bernardo">
        </div>
        <div class="col-12">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" rows="3" placeholder="A cliente deseja um sistema para gerenciar os pacientes em seu consultório, além dos procedimentos realizados."></textarea>
        </div>
        <div class="col-12">
            <label for="areaAtuacao" class="form-label">Área de atuação</label>
            <input type="text" class="form-control" id="areaAtuacao" placeholder="Consultório médico (dermatológico).">
        </div>
        <div class="col-md-6">
            <label for="nomeEmpresa" class="form-label">Nome da empresa</label>
            <input type="text" class="form-control" id="nomeEmpresa" placeholder="Consultório Médico ACS">
        </div>
        <div class="col-md-4">
            <label for="statusCliente" class="form-label">Status do cliente</label>
            <input type="text" class="form-control" id="statusCliente" placeholder="Primeiro contato">
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="inputZip" placeholder="(31)3291-4521">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="home.html" type="submit" class="btn btn-lg btn-outline-success">Salvar alterações</a>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-lg btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalExcluir">
                Excluir cliente
            </button>
            
        </div>
    </form>
{%endblock content%}

{%block modal%}
    <div class="modal fade" id="modalExcluir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação de exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left">
                    <p class="card-text">Tem certeza de que deseja excluir esse cliente?</p>
                </div>
                <div class="modal-footer">
                <a href="editar.html" class="btn btn-secondary">Cancelar</a>
                <a href="editar.html" class="btn btn-danger">Excluir</a>
                </div>
            </div>
        </div>
    </div>
{%endblock modal%}