<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./../css/cadastro.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CRM Eng de Software</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="sidebar.html">Home</a>
                </li>
            </ul>
            </div>
            <a class="btn btn-outline-primary" type="button" href="cadastro.html">Cadastrar novo cliente</a>
        </div>
    </nav>

    <form class="row g-3">
        <div class="col-md-6">
            <label for="nomeCliente" class="form-label">Nome do cliente</label>
            <input type="text" class="form-control" id="nomeCliente">
        </div>
        <div class="col-md-6">
            <label for="nomeVendedor" class="form-label">Vendedor responsável</label>
            <select id="nomeVendedor" class="form-select">
                <option selected>Escolha...</option>
                <option>Bernardo</option>
                <option>Daniele</option>
                <option>Gabriel</option>
                <option>Henrique</option>
                <option>Luisa</option>
                <option>Pedro</option>
            </select>
        </div>
        <div class="col-12">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" rows="3" placeholder="Coloque aqui os detalhes sobre o projeto."></textarea>
        </div>
        <div class="col-12">
            <label for="areaAtuacao" class="form-label">Área de atuação</label>
            <input type="text" class="form-control" id="areaAtuacao" placeholder="Imobiliária, Indústria automobilística, Comércio de alimentos, ...">
        </div>
        <div class="col-md-6">
            <label for="nomeEmpresa" class="form-label">Nome da empresa</label>
            <input type="text" class="form-control" id="nomeEmpresa">
        </div>
        <div class="col-md-4">
            <label for="statusCliente" class="form-label">Status do cliente</label>
            <select id="statusCliente" class="form-select">
                <option selected>Escolha uma opção...</option>
                <option>Primeiro contato</option>
                <option>Diagnóstico</option>
                <option>Análise</option>
                <option>Proposta</option>
                <option>Negociação</option>
                <option>Contrato</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="telefone">
        </div>
        <div class="d-grid gap-2">
            <a type="submit" class="btn btn-outline-success btn-lg" href="home.html">Cadastrar cliente</a>
        </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
</body>

</html>

