{%extends "new_base.html"%}

{% block css %}
<link rel="stylesheet" type="text/css" href="./../../../static/css/home.css">
{% endblock css %}

{% block content %}
{% for lead in leads %}

    <div class="container">
        <div class="row align-items-start">
            <div class="col" id="col-1">
                <div class="row">
                    <h5> Lead </h5>
                </div>  
                <div class="card">
                    <div class="card-header">
                        Bernardo
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Nome do cliente</h5>
                        <p class="card-text">Esta empresa é do ramo de tecnologia contra HTML.</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Mais detalhes
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Nome do cliente</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="text-align: left">
                                    <p class="card-text">Esta empresa é do ramo de tecnologia contra HTML.</p>
                                    <h6>Vendedor responsável:</h6>
                                    <p>Gabriel</p>
                                    <h6>Área de atuação:</h6>
                                    <p>Alimentícia</p>
                                    <h6>Nome da empresa:</h6>
                                    <p>iJunior</p>
                                    <h6>Telefone:</h6>
                                    <p>(31) 99999-9999</p>
                                </div>
                                <div class="modal-footer">
                                <a href="editar.html" class="btn btn-primary">Editar</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col" id="col-2">
                <div class="row">
                    <h5> Primeiro contato </h5>
                </div>
                <div class="card">
                    <div class="card-header">
                        Daniele
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Nome do cliente</h5>
                        <p class="card-text">Esta empresa é do ramo de tecnologia contra HTML.</p>
                        <a href="editar.html" class="btn btn-primary">Mais detalhes</a>
                    </div>
                </div> 
            </div>
            <div class="col" id="col-3">
                <div class="row">
                    <h5> Diagnóstico </h5>
                </div>
                <div class="card">
                    <div class="card-header">
                        Gabriel
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Nome do cliente</h5>
                        <p class="card-text">Esta empresa é do ramo de tecnologia contra HTML.</p>
                        <a href="editar.html" class="btn btn-primary">Mais detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col" id="col-4">
                <div class="row">
                    <h5> Proposta </h5>
                </div>  
                <div class="card">
                    <div class="card-header">
                        Henrique
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Nome do cliente</h5>
                        <p class="card-text">Esta empresa é do ramo de tecnologia contra HTML.</p>
                        <a href="editar.html" class="btn btn-primary">Mais detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col" id="col-5">
                <div class="row">
                    <h5> Negociação </h5>
                </div> 
                <div class="card">
                    <div class="card-header">
                        Luisa
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Nome do cliente</h5>
                        <p class="card-text">Esta empresa é do ramo de tecnologia contra HTML.</p>
                        <a href="editar.html" class="btn btn-primary">Mais detalhes</a>
                    </div>
                </div> 
            </div>
            <div class="col" id="col-6">
                <div class="row">
                    <h5> Contrato </h5>
                </div> 
                <div class="card">
                    <div class="card-header">
                        Pedro
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Nome do cliente</h5>
                        <p class="card-text">Esta empresa é do ramo de tecnologia contra HTML.</p>
                        <a href="editar.html" class="btn btn-primary">Mais detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
{% endblock content %}